.logo {
    
    width: 100px;
}
.cabecalho {
    font-size: 20px;
    
}
nav li {
    display:inline-block
}   

.menu{
    display: inline-block;
    vertical-align: top;
  
    
}
.lista {
   
    
    
    
}
.menu__link{ 
    text-decoration: none;
    
    padding:0 5px;
    margin: 0 5px;
    position: relative;
    color: black;
    padding: 10px;
}
     
.menu__link:hover {
    
    color: darkorange;
    font-size: 20px;
    font-weight: bold;
    
}

.bannertop {
    width: 100%;
}
.bannerbotton {
    width: 100%;
}